body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(142, 78, 198);
}

button {
  all: unset;
  border-radius: 0.3rem;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: white;
  color: rgb(46, 44, 181);
  box-shadow: 0 4px 10px rgba(20, 20, 20, 0.3);
}

button:hover {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 4px 10px rgba(20, 20, 20, 0.5);
}

button:focus {
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
}